<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login_Controller</servlet-name>
        <servlet-class>Controller.Login_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home_Controller</servlet-name>
        <servlet-class>Controller.Home_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Controller</servlet-name>
        <servlet-class>Controller.Logout_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Controller</servlet-name>
        <servlet-class>Controller.Register_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profiles_Controller</servlet-name>
        <servlet-class>Controller.Profiles_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout_Controller</servlet-name>
        <servlet-class>Controller.Cart.Checkout_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post_Controlelr</servlet-name>
        <servlet-class>Controller.Post.Post_Controlelr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post_Detail_Controller</servlet-name>
        <servlet-class>Controller.Post.Post_Detail_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_Controller</servlet-name>
        <servlet-class>Controller.Shop.Shop_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop_Detail_Controller</servlet-name>
        <servlet-class>Controller.Shop.Shop_Detail_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmMail_Controller</servlet-name>
        <servlet-class>Controller.ConfirmMail_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrder_Controller</servlet-name>
        <servlet-class>Controller.Cart.MyOrder_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error_404_Controller</servlet-name>
        <servlet-class>Controller.Error_404_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword_Controller</servlet-name>
        <servlet-class>Controller.ForgotPassword_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact_Controller</servlet-name>
        <servlet-class>Controller.Contact_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart_Controller</servlet-name>
        <servlet-class>Controller.Cart.AddToCart_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_Controller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home_Controller</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Controller</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Controller</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profiles_Controller</servlet-name>
        <url-pattern>/profiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout_Controller</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post_Controlelr</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post_Detail_Controller</servlet-name>
        <url-pattern>/postdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_Controller</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop_Detail_Controller</servlet-name>
        <url-pattern>/shopdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmMail_Controller</servlet-name>
        <url-pattern>/confirmMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrder_Controller</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error_404_Controller</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword_Controller</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact_Controller</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart_Controller</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
